*{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

#input{
	top: 15%;
	left: 37%;
	height: 50px;
	width: 300px;
	position: relative;
	font-size: 40px;
	font-family: Comic Sans, Comic Sans;
	border-radius: 5px;
	border: 1px solid #000;
}

#scope{
	height: 45px;
	width: 48px;
	left: 33%;
	top: 16%;
	position: relative;
	border-radius: 100%;
	cursor: pointer;
}

body{
	background-color: #212121;
	overflow: hidden;
}

#pictures{
	top: 40%;
	height: 45%;
	width: 45%;
	left: 27%;
	position: relative;
}

.logo{
	height: 80px;
	width: 90px;
	position: absolute;
	border-radius: 15px;
	cursor: poiter;
	border: 2px solid #000;
}

.youtube{
	top: 5%;
	left: 5%;
	cursor: pointer;
}

.seznam{
	top: 5%;
	left: 30%;
	cursor: pointer;
}

.gmail{
	top: 5%;
	left: 55%;
	cursor: pointer;
}

.btn{
	top: 5%;
	left: 80%;
	height: 80px;
	width: 80px;
	position: absolute;
	border-radius: 100%;
	cursor: pointer;
	border: 2px solid #000;
	background-color: #a5cdb9;
}

.list{
	top: 7%;
	left: 80%;
	height: 10%;
	width: 10%;
	position: absolute;
	display: none;
}

.list .active{
	top: 7%;
	left: 80%;
	height: 10%;
	width: 10%;
	position: absolute;
}

#plus{
	border-radius: 100%;
}
 p{
 	left: 45%;
 	position: absolute;
 	display: none;
 }

 h1{
 	top: 5%;
 	position: absolute;
 	text-align: center;
 	color: #fff;
 	font-family: Arial;
 }

 span{
 	color: #132de2;
 }